<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.wrong.mapper.WrongMapper">

	<insert id="insertWrongData" parameterType="Wrong">
		<selectKey keyProperty="no" resultType="_int" order="BEFORE">
		 	SELECT sendwrong_seq.NEXTVAL FROM dual
	    </selectKey>
		    INSERT INTO sendwrong (no, userid, type, cha, wrongnum, wrongans)
		    VALUES (#{no}, #{userId}, #{type}, #{cha}, #{wrongNum}, #{wrongAns})
	</insert>
	
	<select id="selectWrongData" parameterType="String" resultType="Wrong">
			SELECT * FROM
			(SELECT * FROM sendwrong
			 WHERE userid=#{userId}
			 ORDER BY no DESC)
			 WHERE rownum = 1
	</select>
	
	<insert id="saveWrong" parameterType="Wrong">
		<selectKey keyProperty="no" resultType="_int" order="BEFORE">
		 	SELECT savedwrong_seq.NEXTVAL FROM dual
	    </selectKey>
		    INSERT INTO savedwrong (no, userid, type, cha, test1, test2, test3, test4, test5, test6, mean, wdate)
		    VALUES (#{no}, #{userId}, #{type}, #{cha}, #{test1}, #{test2}, #{test3}, #{test4}, #{test5}, #{test6}, #{mean, jdbcType=VARCHAR}, SYSDATE)
	</insert>
	
	<!-- 사용자 ID에 해당하는 savedwrong 데이터 조회 -->
    <select id="getSavedWrongByUserId" parameterType="String" resultType="Wrong">
        SELECT * FROM savedwrong WHERE userid = #{userId} ORDER BY no DESC
    </select>
	
</mapper>




